:root {
    --green-dark: #1f394d;
    --green-main: #285454;
}

body, main, html {
    height: 100%;
    margin: 0;
    background-color: var(--green-dark);
}

@keyframes reveal-down {
    from { height: 0%; }
    to { height: 100%; }
}

@keyframes fade-in {
    from { opacity: 0%; margin-left: 20px;}
    to {opacity: 100%; margin-left: 0px;}
}

#title-page {
    display: flex;
    flex-direction: column;
    height: 100%;
    width: 100%;
}

.bg {
    width: 100%;
    height: 0%;
    position: fixed;
    top: 0;
    left: 0;
    animation-fill-mode: forwards;
}

#bg-colour {
    background: var(--green-main);
    z-index: 1;
    animation: reveal-down 1s ease-out forwards;
}

#bg-image {    
    position: fixed;
    overflow: hidden;
    background: url('media/scotland_1.jpg') no-repeat center fixed;
    background-size: cover;
    z-index: 2;
    animation: reveal-down 1s ease-out 0.2s forwards;
}

#title-container {
    opacity: 0%;

    display: flex;
    height: 100%;
    flex-direction: column;
    justify-content: center;
    align-items: left;
    z-index: 3;

    animation: fade-in 0.7s ease-out 0.6s forwards;
}

#title-holder {
    display: flex;
    flex-direction: column;
    height: 150px;
    margin-bottom: 7rem;
}

.title {
    color: white;
    z-index: 3;
    margin-left: 7rem;
}

#title-name {
    font-size: 75px;
    margin-bottom: 0;
}

#title-subheading {
    font-size: 35px;
    margin-top: 10px;
}